code.block {
    display: block;
    white-space: pre;
}

code {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.code {
    font-family: monospace;
}

table.samples td {
    padding: 0em 1em 0em 1em;
}

.error {
    background-color: red;
}

.warning {
    background-color: yellow;
}

.success {
    background-color: #90ee90;
}

#tableOfContents a {
    padding-right: 0.5em;
}

#validateCodeSamplesButton {
    font-size: xx-small;
}

div.author {
    font-size: small;
}

.withAuthor {
    margin-bottom: 0;
}