export default [
  {
    input: './lib/index.js',
    output: {
      file: 'jsqubits.cjs',
      format: 'cjs',
      exports: 'default'
    }
  },
  {
    input: './lib/index.js',
    output: {
      file: 'jsqubits.js',
      format: 'iife',
      exports: 'default',
      name: 'jsqubits'
    }
  }
];
