/*
 * Deutsch's Algorithm.
 * Determine the value of (f(0) + f(1)) mod 2 with a single invocation of f (where f is a single bit function)
 */

function deutsch(f) {
   return jsqbits('|01>').hadamard(jsqbits.ALL).applyFunction(1, 0, f).hadamard(jsqbits.ALL).measure(1).result;
};


var f = promptForFunction("Enter a function that maps {0,1} to {0,1}", "function(x) {return (x + 1) % 2;}");

log("(f(0) + f(1)) mod 2 = " + deutsch(f));