
body {
    font-size: 100%;
    font-family: sans-serif;
    margin: 1em 5%;
    line-height: 1.2;
}

h1 {
    line-height: 1;
    font-size: 2em;
    font-weight: bold;
    font-family: serif;
    padding: 0.2em 0 0.4em 0;
}

h2 {
    line-height: 1;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    padding: 0.1em 0 0.4em 0;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.1em 0 0.4em 0;
}

h4 {
    font-weight: bold;
    padding: 0.5em 0 0.4em 0;
}

p {
    padding: 0.4em 0;
}

#code {
    width: 100%;
    font-size: 1em;
}

.buttons {
    display: inline-block;
}

button {
    margin-top: 1em;
    font-size: 80%;
    margin-right: 1em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#run {
    color: rgb(7, 26, 145);
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
}

#run:active {
    color: rgba(7, 26, 145, 0.7);
}

.examples {
    display: inline-block;
    border: 1px solid black;
    padding: 0.5em;
    margin-top: 1em;
}

.result {
    margin-top:1em;
    min-height:2em;
    border-style:solid;
    border-width:1px;
    text-align: left;
    font-size: 1em;
    margin-bottom: 1em;
}

.commandlist {
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    font-size: 0.75em
}

.commandlist.first {
    border-bottom: none;
}

.commandlist.second {
    border-top: none;
}

.row:nth-child(odd)    { background-color:#ddd; }

.row {
    padding: 0.5em 0.5em;
}

.method {
    font-weight: bold;
}

.desc {
    padding-left: 1em;
}

ul {
    list-style-type: disc;
    margin-left: 1em;
}

small {
    font-size: 0.6em;
}

/**
 * See http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

@media screen and (min-width: 600px) {
    .commandlist {
        font-size: 0.875em;
    }    
}

@media screen and (min-width: 768px) {
    .method {
        width: 25em;
        float: left;
    }
}

@media screen and (min-width: 1200px) {

    .commandlist {
        width: 49.2481203%;
    }

    .commandlist.first {
        float: left;
        border-bottom-style: solid;
        border-width: 1px;
    }

    .commandlist.second {
        float: right;
        border-top-style: solid;
        border-width: 1px;
    }
}


@media screen and (min-width: 1500px) {
    .commandlist {
        font-size: 1em;
    }
}